:root {
  --mein-text-cl: #757575;
  --main-title-cl: #FFFFFF;
  --title-cl: #212121;
  --link-cl: #2196F3;
  --main-text-cl: 'Roboto', sans-serif;
  --title-text-cl: 'Raleway', sans-serif;
  --blak-bg: #2F303A;
  --gray-bg: #F5F4FA;
  --bg: #E5E5E5;
  --border: #EEEEEE;
  --icon-svg-cl: #AFB1B8;
}

html,
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: url(./imeges/fon.jpg);
  font-family: var(--main-text-cl);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mein-text-cl);
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: var(--title-cl);
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-line::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link-cl);
}

.link:hover,
.link:focus {
  color: var(--link-cl);
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: inline-flex;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.item {
  margin-left: 30px;
  margin-top: 30px;
}

.accent-pege {
  color: var(--link-cl);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-cl);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.title-section {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-cl);
}

.socials-icon__item:not(:last-child) {
  margin-right: 10px;
}

.socials-icon__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-svg-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-title-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon__link:hover .socials-icon__icon,
.socials-icon__link:focus .socials-icon__icon {
  fill: var(--main-title-cl);
}

.socials-icon__link:hover,
.socials-icon__link:focus {
  background-color: var(--link-cl);
}

.icon-section {
  padding-bottom: 94px;
}

.icon-section__blok {
  position: relative;
  max-width: 370px;
  height: 294px;
}

.icon-section__box {
  display: flex;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.icon-section__text-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-cl);
  margin-bottom: 0;
}

.icon-section__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}

.card-set__item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  text-align: left;
}

.card-set__feature {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px;
  background-color: var(--gray-bg);
  border-radius: 4px;
  margin-bottom: 30px;
}

.card-set__icon {
  width: 65px;
  height: 70px;
  fill: var(--title-cl);
  border-radius: 4px;
}

.portfolio__link {
  display: block;
  color: var(--mein-text-cl);
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__icon {
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
}

.portfolio__icon::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(294px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__icon::before,
.portfolio__link:focus .portfolio__icon::before {
  transform: translateY(0);
}

.portfolio__overlov {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  padding: 63px 24px;
  transform: translateY(294px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__overlov,
.portfolio__link:focus .portfolio__overlov {
  transform: translateY(0);
}

.portfolio__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  background: var(--main-title-cl);
  box-sizing: border-box;
}

.portfolio__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-cl);
  margin-bottom: 4px;
}

.portfolio__blok {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
}

.cap {
  background-image: url(../imeges/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cap__container {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.4);
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  padding: 40px 39px 40px 41px;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  min-width: 528px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--main-title-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.close-icon {
  fill: #000;
  width: 11px;
  height: 11px;
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: var(--link-cl);
}

.modal__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-cl);
  margin-bottom: 12px;
}

.modal__btn {
  margin-right: auto;
  margin-left: auto;
  border: 0;
}

.modal-submit-btn {
  margin-right: auto;
  margin-left: auto;
}

.form-modal {
  display: flex;
  flex-direction: column;
}

.form-modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--mein-text-cl);
}

.form-modal__input-blok {
  position: relative;
  margin-bottom: 10px;
}

.form-modal__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__input:focus {
  border: 1px solid var(--link-cl);
}

.form-modal__input:focus + .form-modal__icon {
  fill: var(--link-cl);
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__modal__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
}

.form-modal__modal__textarea::placeholder {
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--mein-text-cl);
}

.form-modal__checkbox-link {
  margin-left: 4px;
  color: var(--link-cl);
}

.form-modal__input-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form-modal__input-check:checked + .form-modal__check-box {
  background-color: var(--link-cl);
  background-image: url(../imeges/check.svg);
}

.form-modal__input-check:checked:focus + .form-modal__check-box {
  border: 2px solid var(--link-cl);
}

.form-modal__input-check:focus + .form-modal__check-box {
  border: 2px solid var(--link-cl);
}

.form-modal__check-box {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-color: var(--main-title-cl);
  border: 2px solid var(--title-cl);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-svg-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px;
  background-color: var(--main-title-cl);
  border: 1px solid var(--icon-svg-cl);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--link-cl);
}

.client__link:hover,
.client__link:focus {
  border-color: var(--link-cl);
}

.btn {
  min-width: 200px;
  min-height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-cl);
  background-color: var(--link-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn__filtr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-cl);
  border: 1px solid var(--border);
  box-sizing: border-box;
  background: var(--gray-bg);
  border-radius: 4px;
}

.btn__filtr:not(:last-child) {
  margin-right: 8px;
}

.btn__mail-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--main-title-cl);
}

.team {
  background-color: var(--gray-bg);
}

.team__item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  text-align: center;
  background-color: var(--main-title-cl);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__expert {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.button {
  padding: 6px 22px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--main-title-cl);
  cursor: pointer;
  background: var(--link-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  color: var(--title-cl);
  margin-bottom: 10px;
}

.filtr__text {
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.header {
  border: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--title-text-cl);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo__cl {
  color: var(--link-cl);
}

.footer {
  background-color: var(--blak-bg);
}

.footer__position {
  padding-top: 60px;
  padding-bottom: 60px;
  display: inline-flex;
  display: flex;
  align-items: baseline;
}

.footer__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__icon {
  fill: var(--main-title-cl);
}

.footer__title {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--main-title-cl);
  margin-bottom: 20px;
  text-align: left;
}

.footer__contacts:not(:last-child) {
  margin-right: 70px;
}

.footer__studio {
  color: var(--main-title-cl);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer__mail-form {
  display: flex;
  align-items: center;
}

.footer__form {
  min-width: 570px;
  margin-left: auto;
}

.footer__label {
  display: block;
  margin-bottom: 20px;
}

.footer__mg-form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

.footer__mg-form:not(:last-child) {
  margin-right: 12px;
}

.footer__input-mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: 0;
  font-size: 16px;
  line-height: 1.25px;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px 15px;
}

.footer__input-mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-cl);
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--mein-text-cl);
}

.contacts {
  margin-left: auto;
}

.contacts__marg:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.address {
  font-style: inherit;
}

.address__list {
  display: block;
}

.addres__link {
  color: var(--main-title-cl);
}

.address__street {
  margin-bottom: 9px;
}

.addres__contacts {
  color: rgba(255, 255, 255, 0.6);
}

.list__item:not(:last-child) {
  margin-right: 50px;
}
/*# sourceMappingURL=main.css.map */