.btn {
    min-width: 200px;
    min-height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--main-title-cl);
    background-color: var(--link-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.btn__filtr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--title-cl);
    border: 1px solid var(--border);
    box-sizing: border-box;
    background: var(--gray-bg);
    border-radius: 4px;
}

.btn__filtr:not(:last-child) {
    margin-right: 8px;
}

.btn__mail-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--main-title-cl);
}