.card-set__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
    text-align: left;
}

.card-set__feature {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px;
    background-color: var(--gray-bg);
    border-radius: 4px;
    margin-bottom: 30px;
}

.card-set__icon {
    width: 65px;
    height: 70px;
    fill: var(--title-cl);
    border-radius: 4px;
}