.socials-icon__item:not(:last-child) {
    margin-right: 10px;
}

.socials-icon__icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-svg-cl);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--main-title-cl);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon__link:hover .socials-icon__icon,
.socials-icon__link:focus .socials-icon__icon {
    fill: var(--main-title-cl);
}

.socials-icon__link:hover,
.socials-icon__link:focus {
    background-color: var(--link-cl);
}