.address {
    font-style: inherit;
}

.address__list {
    display: block;
}

.addres__link {
    color: var(--main-title-cl);
}

.address__street {
    margin-bottom: 9px;
}

.addres__contacts {
    color: rgba(255, 255, 255, 0.6);
}