.contacts {
    margin-left: auto;
    display: inline-flex;

    &__item:not(:last-child) {
        margin-right: 50px;
    };

    &__link {
        @include nav;
        display: flex;
        align-items: center;
        color: var(--mein-text-cl);
    };

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    };
}
